.productContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f0f0f0;
}

.product {
    width: 490px;
    margin: 10px 10px;
    border-radius: 15px;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contentStyle {
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.description {
    position: relative;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.price {
    margin-top: 4px;
    margin-left: -2px;
    margin-bottom: 8px;
    width: 110px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    font-weight: 700;
    color: #f3f3f3;
    background-color: #F3A847;
}

.stock {
    position: absolute;
    top: 8px;
    right: 10px;
}

.btnAdd {
    margin: 10px auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80% !important;
    height: 38px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #F3A847 !important;
    font-size: 18px;
    border: 1px solid red;
}

.characteristics {
    font-size: 18px;
    font-weight: 800;
}

@media (max-width: 968px) {
    .product {
        width: 450px;
    }
}

@media (max-width: 558px) {
    .product{
       width: 88%;
    }
}
