.iconCartContainer {
    position: relative;
}

.cartCount {
    position: absolute;
    cursor: pointer;
    top: 40%;
    left: 55%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: #A25515;
    padding: 2px;
    font-size: 16px;
    border-radius: 50%;
}

.iconCart {
    position: relative;
    font-size: 56px;
}

.drawer {
    background-color: #eee !important;
}

.product {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.infoContainer {
    width: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
}

.info {
    flex: 1;
    margin-right: 20px;
}

.info p {
    margin-bottom: 5px;
}

.info p:first-child {
    color: #333333;
    font-size: 18px;
}

.info p:last-child {
    color: #F3A847;
    font-weight: 700;
}

.btnsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnsMinusPlus {
    display: flex;
    align-items: center;
    border: 1px solid #A25515;
    border-radius: 5px;
    padding: 5px;
}

.btnsMinusPlus span {
    margin: 0 6px;
    font-size: 18px;
    color: #333333;
}

.deleteIcon {
    font-size: 20px;
}

.btnFinalizePurchase {
    margin-top: 15px;
    height: 50px;
    font-size: 22px;
}